autopep8
awkward
boost_histogram
click
comet-ml
docopt
fastjet
fsspec
hydra-core
jupyter
jupyter-book
matplotlib
mplhep
notebook
numba
pandas
papermill
pre-commit
pyarrow
scikit-learn
scikit-optimize
scipy
seaborn
setGPU
tqdm
uproot
vector
zenodo_get
